**/*.DOC*
**/*.doc*
**/*.pdf
**/*.pygtex
**/*.epub
**/*.djvu
**/*.aux
**/*.bcf
**/*.log
**/*.ilg
**/*.ind
**/*.webm
**/*.mkv
**/*.mp4
**/*.mp3
**/*_trash
2-сем/Ukr/essay/essay.md

**/*.gnuplot
**/*.table
